.container {
    display: flex;
    flex-wrap: wrap;
    width: 1032px;
    height: 1032px;
}

.square {
    border: black solid 1px;
}

.new {
    color: white;
}

.sketched {
    background-color: rgba(200,200,200,20);
}